.container {
	max-width: 768px;
}
.message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
    z-index: 1040;
	background-color: #fff;
    display: table;
}
.message-overlay .content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
