<!DOCTYPE html>
<html>
<head>
	<title>{{ item.local_name }} - Tree Guide</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/treemapper.css" />
</head>
<body>
	{% include "includes/navbar.html" %}
	<div class="container">
		{% include "includes/tree-details.html" %}
	</div>
	{% include "includes/footer.html" %}
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
