{% extends "lib/website/templates/base.html" %}

{% set title="Treemapper.in" %}

{% block content %}
	<div class="splash row">
		<div style="height: 400px; background: url(app/img/sander-zelhem-green-passage.jpg) center; 
			color: white; margin-top: -40px; width: 100%;">
			<h1 style="color: white; padding: 30px;">Map Trees in your Neighbourhood</h1>
			<a class="btn btn-default btn-lg btn-start" 
				style="margin: 30px; margin-top: 0px;">Get Started Now</a>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		$(".btn-start").attr("href", wn.get_sid() ? "add" : "login")
	})
	</script>

{% endblock %}