<!DOCTYPE html>
<html>
<head>
	<title>Treemapper.in</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/treemapper.css" />
</head>
<body>
	{% include "includes/navbar.html" %}
	<div class="container">
		<h1>Tree Guide</h1>
		<hr class="row">
		{% for s in local_names %}
		<a href="{{ species[s].local_name.lower().replace(' ', '_') }}.html">
			<div class="row" style="margin-bottom: 7px; 
				padding-bottom: 7px; border-bottom: 1px solid #e7e7e7;">
				<div class="col-xs-6">{{ species[s].local_name }}</div>
				<div class="col-xs-6"></div>
			</div>
		</a>
		{% endfor %}
	</div>
	{% include "includes/footer.html" %}
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
