<!DOCTYPE html>
<html>
<head>
	<title>Treemapper India</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link rel="stylesheet" href="js/leaflet.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/treemapper.css" />
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!--[if lte IE 8]><link rel="stylesheet" href="js/leaflet.ie.css" /><![endif]-->
	<style>
	.leaflet-shadow-pane { display:none; }
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<button class="btn btn-primary pull-right btn-login">Login</button>
			<h1><i class="icon-leaf"></i> Tree Mapper, India</h1>
			<hr>
		</div>
		<div class="row">
			<div id="map" class="col-lg-12" style="height: 400px"></div>
		</div>
	</div>
	<script src="js/leaflet.js"></script>
	<script src="js/treemapper.js"></script>
	<script>
		var trees = {{ trees }};
		var start_x = {{ start_x }};
		var start_y = {{ start_y }};
		treemapper.render();
	</script>
	<script src="https://login.persona.org/include.js"></script>
</body>
</html>
